/* May not need this CSS depending on ProjectCard and Modal */

/* 
.projects-section {
  padding: 2rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
} */
