.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
  color: #3278cd;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 2em;
}


.navbar-brand p {
  margin: 0;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 1em;
}

.navbar-links img {
  width: 50px;
  height: 50px;
}

/* .navbar-links img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
} */

.navbar-links img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 480px) {

  .navbar-brand h1, p {
    text-align: center;
    margin: 0;
  }

  .navbar {
    font-size: 0.8rem;  
    flex-direction: column;  
  }
  
  .navbar-links img {
    padding: 5px;
  }
}