.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}

.project-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 60%;
  max-width: 800px;
  max-height: 90vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.project-link {
  background-color: #3278cd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.project-link:hover {
  background-color: darkblue;
}

img {
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(125, 50, 50);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: rgb(193, 9, 9);
}

.modal-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1010;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3278cd;
  font-size: 36px;
}

.modal-nav-button:hover {
  background-color: darkblue;
}

.modal-nav-button.previous {
  margin-right: -60px;
}

.modal-nav-button.next {
  margin-left: -60px;
}

@media (max-width: 480px) {
  .project-modal-content {
    width: 90%;
    max-height: 90vh;
  }

  .modal-nav-button.previous {
    left: 0;
  }
  
  .modal-nav-button.next {
    right: 0;
  }
}
