.about-me {
  padding: 1em;
  text-align: left;
  background-color: #f5f5f5;
}

h2 {
  margin-bottom: 1em;

  color: #3278cd;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}

.read-more {
  color: blue;
  cursor: pointer;
  text-align: left;
}

/* Media query */
@media screen and (max-width: 480px) {
  .about-me {
    font-size: 0.9em;
    text-align: left;
  }
}